* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif
}

html, body {
    height: 100%;
    width: 100%;
    color: white;
}

.main{
    height: 100%;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cursor{
    height: 38px;
    width: 38px;
    background-color:white;
    border-radius: 50%;
    position: absolute;
    transition: all linear 0.2s;
    mix-blend-mode: difference;
}
h1{
    font-size: 8vw;
    font-weight: 900;
}
